# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual envs
.env/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data & outputs
data/
datasets/
fingerprints/
outputs/
logs/
checkpoints/
*.pt
*.pth
*.ckpt

# Docker
*.tar

# OS
.DS_Store

# IDE
.vscode/
.idea/
